<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Club Lagree</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Club Lagree</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>clublagree</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>110</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>facebook-stories</string>
		<string>fb</string>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>instagram</string>
		<string>instagram-stories</string>
		<string>mailto</string>
		<string>whatsapp</string>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>12</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>$(PRODUCT_NAME) would like access to your calendar to add upcoming bookings and remove cancelled bookings.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>$(PRODUCT_NAME) would like access to your calendar to add upcoming bookings and remove cancelled bookings.</string>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) needs access to your camera so that you may take a profile photo</string>
	<key>NSContactsUsageDescription</key>
	<string>$(PRODUCT_NAME) would like to upload your contacts to its server to help build your friends list in app. Your data will not be shared with third party services. For more information, please review $(PRODUCT_NAME)'s Privacy Policy.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) would like access to your location while using the app. Location information will be used to check your proximity to our studio(s) and will not be saved.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>$(PRODUCT_NAME) would like access to your location while using the app. Location information will be used to check your proximity to our studio(s) and will not be saved.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) would like access to your location while using the app. Location information will be used to check your proximity to our studio(s) and will not be saved.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>$(PRODUCT_NAME) needs access to your photo library to choose an existing photo or save one taken by the camera during app use.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) needs access to your photo library to choose an existing photo or save one taken by the camera during app use.</string>
	<key>UIAppFonts</key>
	<array>
		<string>fitness.ttf</string>
		<string>Montserrat-Black.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Montserrat-Italic.ttf</string>
		<string>Montserrat-Light.ttf</string>
		<string>Montserrat-Medium.ttf</string>
		<string>Montserrat-Regular.ttf</string>
	</array>
</dict>
</plist>
